.fizzbuzz .fizzbuzzer {
    padding: 20px;
    max-width: 100%;
}

.fizzbuzz .fizzbuzzform {
    padding-right: 20%;
}

.fizzbuzz .fizzbuzzprint {
    display: block;
    height: 95vh;
    overflow: scroll;
    border-left: 1px solid black;
}

.fizzbuzz ul {
    list-style-type: none;
    font-weight: 200;
    font-size: 25px;
}




